OTT = ott-0.21.2
OTT201 = ott-0.20.1
COQC = coqc
COQDEP = coqdep
COQDOC = coqdoc
LNGEN = lngen  # optional

RELEASE = $(HOME)/src/vol
METALIB = $(RELEASE)/theory/metatheory_8.3
LLVM = $(HOME)/Tools/llvm-3.0/
LLVM_LIB = $(LLVM)/lib/
LLVM_OCAML_LIB = $(LLVM_LIB)/ocaml/
EXTRACTION_LIB = $(RELEASE)/vol/src3.0/Extraction/_build/
FFI_LIB =
